@media screen and (max-width: 750px) {
    .landing-section {
        flex-direction: column;
        justify-content: start;

        padding: 3rem 0rem;
    }

    .skills-section {
        margin: 0rem;
        background-color: var(--color-black);
        
        padding: 5rem 1rem;
    }

    .skill-card {
        height: 14rem;
        width: 10rem;
        padding: 1rem;
    }

    .skill-card-image {
        height: 10rem;
    }

    .skill-card-name {
        font-size: 1.3rem;
    }
}