@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

:root {
    --color-black: #2c2c2c;
    --color-red: #ff6a6a;
    --color-white: #ededed;
}

body {
    font-family: "Space Grotesk";
    color: var(--color-black);
    margin: 0rem;
    background-color: var(--color-white);
}

.skew {
    transform: skewy(-3deg);
}

.unskew {
    transform: skewy(3deg);
}

.section-title {
    margin: 0rem 0rem 2rem 0rem;

    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
}

.landing-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding: 2rem 5rem;

    background-color: var(--color-white);
}

.landing-section-image {
    height: 25rem;
    margin: 0rem;

    mix-blend-mode: darken;

    border-radius: 360px;
}

.landing-section-content {
    display: flex;
    flex-direction: column;

    gap: 0.7rem;
}

.landing-section-content-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}

.landing-section-hello {
    margin: 0rem;
    font-size: 2rem;
}

.landing-section-name {
    display: inline-block;
    margin: 0rem;
    padding-right: 0.5rem;

    border-radius: 10px;
    border: 3px solid var(--color-black);

    background-color: var(--color-black);
    font-size: 2.5rem;
    color: var(--color-white);
    letter-spacing: 0.15rem;
}

.landing-section-name > span {
    background-color: var(--color-white);
    border-radius: 10px;

    padding-inline: 0.5rem;
    color: var(--color-black);
}

.landing-section-description {
    margin: 0rem;
    font-size: 1rem;

    width: 23rem;
}

.landing-section-button-list {
    display: flex;
    flex-direction: row;
    padding: 0rem;
    list-style: none;
    gap: 1rem;
}

.landing-section-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    margin: 0rem;

    text-decoration: none;
    color: var(--color-black);
    font-size: 1rem;

    transition: transform ease-in-out 0.05s;
}

.landing-section-button:hover {
    color: var(--color-red);
    font-weight: bold;
    transform: scale(1.05);
}

.landing-section-button > img {
    width: 1.5rem;
    height: 1.5rem;

    border-radius: 6px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 1rem;
}

.skills-section {
    margin: 0rem;
    background-color: var(--color-black);

    padding: 5rem 10rem 8rem;
}

.skills-container {
    justify-content: center;
}

.projects-section {
    margin: 0rem;
    background-color: var(--color-white);

    padding: 5rem 10rem;
}

.projects-container {
    justify-content: center;
}

.red {
    color: var(--color-red);
}

.black {
    color: var(--color-black);
}

.white {
    color: var(--color-white);
}
